.test{
    color: black;
}



@media(min-widht: 768){
    a.tests{
        visibility: hidden;
    }
   
}
footer{
    background-color: #6c757d;
}
.imds{
    /*position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     */
    height: 50vh;
    background-color: red;
   
    background: url(../img/log2.jpg);
    min-height: 100%;
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left bottom;
    @media screen {min-width: 768;
        background-position: center;
    }
}
